@import "../styles/globals.css";

@import "@fontsource-variable/nunito/wght.css";

@theme inline {
	--font-sans: "Nunito Variable", "Tahoma", system-ui, sans-serif;
}

/*
@font-face {
	font-family: "Nunito Variable";
	font-display: optional;
}
*/
